---
import Layout from "@/layouts/layout.astro";
import { Image } from "astro:assets";
---

<Layout title="About">
  <main class="container mx-auto px-4 py-8">
    <div class="mx-auto w-fit flex flex-col md:flex-row items-center gap-12">
      <div class="aspect-square w-full max-w-md overflow-hidden rounded-4xl">
        <Image
          src="/images/avatar.webp"
          alt="Background"
          width={800}
          height={800}
          class="h-full w-full object-cover"
        />
      </div>
      <div class="prose max-w-[85ch]">
        <p>
          I'm a creative person with a background in music, design, and
          engineering. I like to work across many mediums, including audio
          production, digital art, software for web and mobile, and branding.
        </p>
        <p>
          These days, I'm building an assortment of things with my friends
          through <a href="https://www.studiomakai.net">Studio Makai</a>, a
          small creative studio I started in Los Angeles. I eagerly take on work
          that excites me, often somewhere between sound, software, and story.
        </p>
        <p>
          Over the years, I've been lucky to work with thoughtful people on
          meaningful projects to bring creative and technical ideas to life.
        </p>
        <p>Thanks for stopping by. CV available upon request.</p>
      </div>
    </div>
  </main>
</Layout>
