---
import { formatCollection } from "@/lib/format-collection";
import { getWritings } from "@/lib/get-collection";
import { WritingCategory } from "@/content/categories";
import WritingTable from "@/components/writing/writing-table.astro";
import Layout from "@/layouts/layout.astro";
import HeroText from "@/components/animation/hero-text";
import { WRITING_PAGE_HERO_TEXT } from "@/content/hero-text";
import CategorySelector from "@/components/ui/category-selector.astro";

export function getStaticPaths() {
	return Object.values(WritingCategory).map((category) => ({
		params: { category },
	}));
}

const { category } = Astro.params;
const writings = await getWritings();
const filteredWritings = formatCollection<"writing">(writings, {
	category: category as WritingCategory,
	sortBy: "date",
	sortOrder: "desc",
});
---

<Layout>
	<main class="w-full space-y-12">
		<section>
			<HeroText client:load chunks={WRITING_PAGE_HERO_TEXT} size="lg" animate={false} />
		</section>
		<div class="space-y-12">
			<CategorySelector type="writing" />
			{
				filteredWritings.length > 0 ? (
					<section class="space-y-10 pb-12 md:pb-16">
						<WritingTable writings={filteredWritings} />
					</section>
				) : (
					<div class="flex h-full w-full items-center justify-center">
						<p class="text-muted-foreground p-40 text-xs">
							There's nothing here yet. I'd better get writing...
						</p>
					</div>
				)
			}
		</div>
	</main>
</Layout>
