---
import { capitalize } from "@/lib/utils";
import { formatCollection } from "@/lib/format-collection";
import { getWritings } from "@/lib/get-collection";
import { WritingCategory } from "@/config/categories";
import Layout from "@/layouts/layout.astro";
import PrevNext from "@/components/prev-next.astro";
import WritingGrid from "@/components/writing/writing-grid.astro";

export function getStaticPaths() {
  return Object.values(WritingCategory).map((category) => ({
    params: { category },
  }));
}

const { category } = Astro.params;
const writings = await getWritings();
const filteredWritings = formatCollection<"writing">(writings, {
  category: category as WritingCategory,
  sortBy: "date",
  sortOrder: "desc",
});
---

<Layout title={category ? `${category} - Writing` : "Writing"}>
  {
    category && (
      <div class="mb-8 flex flex-col gap-6">
        <PrevNext prev={{ label: "All writing", href: "/writing" }} />
        <h1 class="text-4xl font-bold">{capitalize(category)}</h1>
      </div>
    )
  }
  <WritingGrid writings={filteredWritings} />
</Layout>
