---
import Layout from "@/layouts/layout.astro";
import { getCollection } from "astro:content";
import { WritingCategory } from "@/config/categories";
import PrevNext from "@/components/prev-next.astro";
import WritingGrid from "@/components/writing/writing-grid.astro";
import { capitalize } from "@/lib/utils";

export function getStaticPaths() {
  return Object.values(WritingCategory).map((category) => ({
    params: { category },
  }));
}

const { category } = Astro.params;
const writings = await getCollection("writing");

const filteredWritings = writings
  .filter((writing) => writing.data.categories.includes(category))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout title={category ? `${category} - Writing` : "Writing"}>
  {
    category && (
      <div class="mb-8 flex flex-col gap-6">
        <PrevNext left={{ label: "All writing", href: "/writing" }} />
        <h1 class="text-4xl font-bold">{capitalize(category)}</h1>
      </div>
    )
  }
  <WritingGrid writings={filteredWritings} />
</Layout>
