---
import Section from "../ui/section.astro";
import { ABOUT_FOOTER_CONTENT } from "@/content/about";

const parts = ABOUT_FOOTER_CONTENT.text.split(/(Toko Makai|Max Fung|Studio Makai)/);
---

<Section label="About Max Fung" align="center">
	<div class="prose">
		<p class="text-s2 mb-0 text-center leading-normal">
			{
				parts.map((part) => {
					const link = ABOUT_FOOTER_CONTENT.links.find((link) => link.displayName === part);
					if (link) {
						return <a href={link.url}>{part}</a>;
					}
					return part;
				})
			}
		</p>
	</div>
</Section>
