---
import type { CollectionEntry } from "astro:content";
import WritingCard from "./writing-card.astro";

interface Props {
  writings: CollectionEntry<"writing">[];
}

const { writings } = Astro.props;

const sortedWritings = writings?.length
  ? [...writings].sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  : [];
---

{
  !writings?.length ? (
    <div class="text-center text-muted-foreground">No writings found</div>
  ) : (
    <div class="grid md:grid-cols-2 3xl:grid-cols-3 gap-12">
      {sortedWritings.map((writing) => (
        <WritingCard writing={writing} />
      ))}
    </div>
  )
}
