---
import type { CollectionEntry } from "astro:content";
import CategoryList from "@/components/ui/category-list.astro";

interface Props {
  writing: CollectionEntry<"writing">;
}

const { writing } = Astro.props;
---

<div class="flex flex-col gap-2">
  <div class="flex flex-col sm:flex-row gap-2 items-center w-full">
    <time
      datetime={writing.data.date.toISOString()}
      class="text-sm text-muted-foreground font-['doto'] group-hover:text-foreground transition-colors whitespace-nowrap"
    >
      {
        writing.data.date.toLocaleDateString("en-US", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </time>
    <span class="hidden sm:inline-block text-muted-foreground font-['doto']"
      >•</span
    >
    <span class="text-sm text-muted-foreground font-['doto']">
      By <a href="/about" class="hover:text-foreground">Max Fung</a>
    </span>
  </div>

  <CategoryList
    categories={writing.data.categories}
    class="text-sm text-muted-foreground font-['doto'] group-hover:text-foreground transition-colors"
    asLinks={true}
    basePath="/writing"
  />
</div>
