---
import Section from "../ui/section.astro";
---

<Section label="About Max Fung" align="center">
	<div class="prose">
		<p class="text-s2 mb-0 text-center leading-normal">
			Making music as <a href="https://www.instagram.com/tokomakai/">Toko Makai</a>
			and <a href="https://www.instagram.com/fungkadelic/">Max Fung</a>. Coding professionally since
			2021. Working with startups as <a href="https://www.studiomakai.net">Studio Makai</a>. A
			lifelong musician, artist, tinkerer, and designer. Fortunate to work with thoughtful people on
			meaningful projects to bring creative and technical ideas to life.
		</p>
	</div>
</Section>
