---
import Section from "../ui/section.astro";
---

<Section label="About Max Fung">
  <div class="prose">
    <p class="text-sm text-muted-foreground">
      Making music as <a href="https://www.instagram.com/tokomakai/"
        >Toko Makai</a
      >
      and <a href="https://www.instagram.com/fungkadelic/">Max Fung</a>. Coding
      professionally since 2021. A lifetime of creativity, art, and design.
      Fortunate to work with thoughtful people on meaningful projects to bring
      creative and technical ideas to life.
    </p>
  </div>
</Section>
