---
import CategoryList from "@/components/ui/category-list.astro";
import type { Category } from "@/config/categories";
import { cn } from "@/lib/utils";

interface Props {
	date: Date;
	categories: Category[];
	class?: string;
}

const { date, categories, class: className } = Astro.props;
---

<div class={cn("flex w-full flex-row items-center justify-center gap-4", className)}>
	<time
		datetime={date.toISOString()}
		class="font-accent group-hover:text-foreground text-sm whitespace-nowrap transition-colors"
	>
		{
			date.toLocaleDateString("en-US", {
				year: "numeric",
				month: "long",
				day: "numeric",
			})
		}
	</time>
	<CategoryList
		categories={categories}
		class="text-muted-foreground font-accent group-hover:text-foreground text-sm transition-colors"
		asLinks={true}
		basePath="/writing"
	/>
</div>
