---
import CategoryList from "@/components/ui/category-list.astro";

const { writing } = Astro.props;
---

<a href={`/writing/${writing.slug}`}>
  <div
    class="group flex flex-col justify-between md:aspect-square rounded-2xl md:border md:border-dashed md:overflow-hidden p-6 transition hover:bg-accent hover:text-accent-foreground focus:outline-none focus-visible:ring-2 focus-visible:ring-ring"
  >
    <div class="text-sm text-muted-foreground font-['doto']">
      {
        writing.data.date.toLocaleDateString("en-US", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </div>
    <h2
      class="text-3xl font-medium tracking-tight line-clamp-2 group-hover:text-accent-foreground"
    >
      {writing.data.title}
    </h2>
    <CategoryList
      categories={writing.data.categories}
      class="text-sm text-muted-foreground font-['doto'] mt-2"
      basePath="/writing"
      asLinks={false}
    />
  </div>
</a>
