---
import Layout from "@/layouts/layout.astro";
---

<Layout>
	<main class="flex min-h-[60vh] w-full flex-col items-center justify-center gap-8">
		<div class="mx-auto flex max-w-md flex-col gap-4">
			<h1 class="text-4xl font-medium">404</h1>
			<div class="w-full px-12">
				<p class="text-lg">Look for what you notice but no one else sees.</p>
			</div>
			<div class="flex w-full justify-end pr-12">
				<p class="text-muted-foreground">Rick Rubin</p>
			</div>
		</div>
	</main>
</Layout>
