---
import WorksGrid from "@/components/works/works-grid.astro";
import { getWorks, getWritings } from "@/lib/get-collection";
import { formatCollection } from "@/lib/format-collection";
import Layout from "@/layouts/layout.astro";
import Landing from "@/components/landing.astro";
import WritingGrid from "@/components/writing/writing-grid.astro";
import Wrapper from "@/components/ui/wrapper.astro";
import Section from "@/components/ui/section.astro";

const works = await getWorks();
const formattedWorks = formatCollection<"works">(works, {
	sortBy: "date",
	sortOrder: "desc",
	maxItems: 2,
});

const latestWorks = formattedWorks;

const writings = await getWritings();
const latestWritings = formatCollection<"writing">(writings, {
	sortBy: "date",
	sortOrder: "desc",
	maxItems: 3,
});
---

<Layout size="wide">
	<Landing />
	<div class="w-full space-y-28">
		<div class="mx-auto flex max-w-screen-2xl flex-col">
			<div class="mb-10 flex flex-row items-baseline justify-between">
				<h3>Latest works</h3>
				<a href="/works" class="link-subtle-foreground text-sm">View all</a>
			</div>
			<WorksGrid works={latestWorks} maxColumns={2} />
		</div>
		<div class="mx-auto flex max-w-screen-2xl flex-col">
			<div class="mb-10 flex flex-row items-baseline justify-between">
				<h3>Latest writing</h3>
				<a href="/writing" class="link-subtle-foreground text-sm">View all</a>
			</div>
			<WritingGrid writings={latestWritings} />
		</div>
		<div class="mx-auto flex max-w-screen-2xl flex-col">
			<Wrapper class="py-12">
				<Section label="Manifesto" align="center">
					<div class="prose mb-12">
						<p class="font-manifesto leading-normal">
							I believe in the power of love to guide us to a better future. I believe in the power
							of music to heal us from within. I believe that creativity speaks to a higher essence
							that we must embrace fully.
						</p>

						<p class="font-manifesto leading-normal">
							In a world where we are constantly bombarded with information, where machines and
							greed threaten our humanity, we must stand up and fight back.
						</p>
						<p class="font-manifesto leading-normal">
							I believe there is honest work to be done in building a better world, by humans, for
							all of humankind.
						</p>

						<p class="font-manifesto leading-normal">
							I know that it will take time, but the world will inevitably change. And we will be a
							part of changing it for the better.
						</p>

						<p class="font-manifesto leading-normal">
							To shift our priorities as a society towards living ethically and sustainably— not
							only for those with the privilege to afford to do so, but for everyone. To those who
							cannot see the value in it, who believe this kind of future is impossible, we will
							strive to show them.
						</p>

						<p class="font-manifesto leading-normal">
							I believe in building beautiful, sustainable things, slowly, and with care.
							Craftsmanship, mastery, and passion are the keys to creating ideas and cultures that
							last.
						</p>

						<p class="font-manifesto leading-normal">
							I believe in thoughtful consumption and ownership. In appreciating the things we have,
							and making sure to make full use of them to avoid waste.
						</p>

						<p class="font-manifesto leading-normal">
							I believe that everyone has something unique to give to the world. Something that they
							see which no one else can. We should always be looking and listening to discover the
							light in others.
						</p>

						<p class="font-manifesto leading-normal">
							I believe in diversity, equity, collaboration, and the power of community. That we are
							better together than we are alone. That we are all connected in one way or another.
							That we should recognize we are all family on a cosmic scale.
						</p>

						<p class="font-manifesto leading-normal">
							I believe in taking care of our bodies, our minds, and our souls. To drink water, to
							eat well, to rest, and to challenge ourselves when necessary. We should be sure to
							strengthen our bodies for the challenges ahead. It is through this self-love which we
							will be able to care for the Earth.
						</p>

						<p class="font-manifesto leading-normal">
							I believe that our stewardship of our planet is a gift. That we have the power to
							shape our built environment and broader societal systems to encourage movement,
							socialization, creativity, and freedom. To protect and cherish what finite resources
							we have, and leave it better than we found it.
						</p>

						<p class="font-manifesto leading-normal">
							I believe in a world where the immense value we generate through our hard work is
							enjoyed by all those alive to experience it, not just a privileged few. To dismantle
							the oppressive structures put in place throughout history is a valiant mission, one
							which is integral to our liberation, and we should always think critically about the
							world we were born into, in search of a better way. Find like-minded people, and get
							involved in your community.
						</p>

						<p class="font-manifesto leading-normal">
							I believe in knowledge, in science, and in the power of ideas to make a better
							society, a better democracy, and a better world. That technology is a tool, and must
							be wielded ethically to truly benefit humanity. I will seek to share what I learn from
							those around me, and make an effort to always be learning.
						</p>

						<p class="font-manifesto mt-8 leading-normal">
							Always be kind, always be humble, and always be grateful. Know thyself. Treat others
							how you'd like to be treated. Strive for peace, love, and happiness. Stand up against
							war and oppression. Keep an open mind and an open heart. Don't buy into pessimism and
							doom. Lean into optimism, through action.
						</p>

						<p class="font-manifesto mt-8 leading-normal">
							Look for the things you see which others cannot. Embrace what makes you unique. Find
							something you love to do, and do it every day.
						</p>

						<p class="font-manifesto mt-8 leading-normal">
							The world will be a better place for it.
						</p>
					</div>
				</Section>
			</Wrapper>
		</div>
	</div>
</Layout>
