---
import ProjectGrid from "@/components/project-grid";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Category as SiteCategory } from "../config/categories";

export function getStaticPaths() {
  return [
    { params: { category: SiteCategory.MUSIC } },
    { params: { category: SiteCategory.SOFTWARE } },
  ];
}
const projects = await getCollection("projects");
---

<Layout title="Max Fung">
  <main class="container mx-auto px-4 py-8">
    <ProjectGrid client:visible projects={projects} />
  </main>
</Layout>
