---
import WorksGrid from "@/components/works/works-grid.astro";
import Layout from "@/layouts/layout.astro";
import { getCollection } from "astro:content";
import { Category as SiteCategory } from "@/config/categories";
import ContextNav from "@/components/ui/context-nav.astro";

export function getStaticPaths() {
  return [
    { params: { category: SiteCategory.MUSIC } },
    { params: { category: SiteCategory.SOFTWARE } },
    { params: { category: SiteCategory.RELEASES } },
    { params: { category: SiteCategory.VIDEO } },
  ];
}
const { category } = Astro.params;
const works = await getCollection("works");

const filteredWorks = works.filter((work) =>
  work.data.categories.includes(category)
);
---

<Layout title={category ? `${category} - Works` : "Works"}>
  <main>
    {
      category && (
        <div class="mb-8 flex flex-col">
          <ContextNav left={{ label: "Back to all works", href: "/" }} />
          <h1 class="text-4xl font-bold">{category}</h1>
        </div>
      )
    }
    <WorksGrid works={filteredWorks} />
  </main>
</Layout>
