---
import Heart from "lucide-static/icons/heart.svg";
import Headphones from "lucide-static/icons/headphones.svg";
import Button from "./ui/button.astro";
---

<div class="flex max-w-screen-md flex-wrap justify-center gap-2">
	<a
		href="https://pcrf1.app.neoncrm.com/forms/udhiyah-campaign-2025"
		target="_blank"
		rel="noopener noreferrer"
	>
		<Button variant="outline">
			<Heart class="h-4 w-4" />
			Support Palestine
		</Button>
	</a>

	<a href="https://www.streetsforall.org/donate" target="_blank" rel="noopener noreferrer">
		<Button variant="outline">
			<Heart class="h-4 w-4" />
			Streets for All
		</Button>
	</a>

	<a href="https://www.organizedcommunities.org/" target="_blank" rel="noopener noreferrer">
		<Button variant="outline">
			<Heart class="h-4 w-4" />
			OCAD
		</Button>
	</a>

	<a
		href="https://www.nature.org/en-us/membership-and-giving/donate-to-our-mission/"
		target="_blank"
		rel="noopener noreferrer"
	>
		<Button variant="outline">
			<Heart class="h-4 w-4" />
			Nature Conservancy
		</Button>
	</a>

	<a href="https://conserveturtles.org/donate/" target="_blank" rel="noopener noreferrer">
		<Button variant="outline">
			<Heart class="h-4 w-4" />
			Sea Turtle Conservancy
		</Button>
	</a>

	<a
		href="https://open.spotify.com/playlist/4UcZPrg43TpLS87Baf33KP?si=b9f17b21bc8142da"
		target="_blank"
		rel="noopener noreferrer"
	>
		<Button variant="outline">
			<Headphones class="h-4 w-4" />
			Personal playlist
		</Button>
	</a>
</div>
