---
import Heart from "lucide-static/icons/heart.svg";
import Headphones from "lucide-static/icons/headphones.svg";
import Button from "./ui/button.astro";

const links = [
	{
		href: "https://pcrf1.app.neoncrm.com/forms/udhiyah-campaign-2025",
		text: "Support Palestine",
		icon: Heart,
	},
	{
		href: "https://www.streetsforall.org/donate",
		text: "Streets for All",
		icon: Heart,
	},
	{
		href: "https://www.organizedcommunities.org/",
		text: "OCAD",
		icon: Heart,
	},
	{
		href: "https://www.nature.org/en-us/membership-and-giving/donate-to-our-mission/",
		text: "Nature Conservancy",
		icon: Heart,
	},
	{
		href: "https://conserveturtles.org/donate/",
		text: "Sea Turtle Conservancy",
		icon: Heart,
	},
	{
		href: "https://open.spotify.com/playlist/4UcZPrg43TpLS87Baf33KP?si=b9f17b21bc8142da",
		text: "Personal playlist",
		icon: Headphones,
	},
];
---

<div class="flex max-w-screen-md flex-wrap justify-center gap-2">
	{
		links.map((link) => (
			<a href={link.href} target="_blank" rel="noopener noreferrer" class="block sm:hidden">
				<Button variant="outline" size="sm" class="bg-background">
					<link.icon class="h-3 w-3" />
					{link.text}
				</Button>
			</a>
		))
	}
	{
		links.map((link) => (
			<a href={link.href} target="_blank" rel="noopener noreferrer" class="hidden sm:block">
				<Button variant="outline" class="bg-background">
					<link.icon class="h-4 w-4" />
					{link.text}
				</Button>
			</a>
		))
	}
</div>
