---
import PaddingX from "@/components/util/padding-x.astro";
---

<footer class="py-8 text-xs">
	<PaddingX>
		<div
			class="font-accent flex flex-col justify-between gap-6 text-center lg:flex-row lg:text-left"
		>
			<div>
				© {new Date().getFullYear()} Max Fung and Studio Makai LLC. All rights reserved
			</div>
			<div>Currently — looking for software engineering opportunities</div>
		</div>
	</PaddingX>
</footer>
