---
import PaddingX from "@/components/util/padding-x.astro";
import SocialLinks from "@/components/social-links.astro";
import LetsConnect from "@/components/connect.astro";

const currentYear = new Date().getFullYear();
---

<footer class="text-sm">
	<PaddingX>
		<a href="mailto:max@fung.studio"><LetsConnect /></a>
		<div
			class="font-accent flex h-14 flex-col items-center justify-between border-t text-center md:flex-row md:px-4 lg:flex-row lg:text-left"
		>
			<h5 class="hidden w-1/4 text-start md:inline-flex">
				<a href="/">Max Fung (fung.studio)</a>
			</h5>
			<div class="h-full w-full flex-1">
				<SocialLinks />
			</div>
			<h5 class="hidden pl-12 text-end md:block">© {currentYear}</h5>
		</div>
	</PaddingX>
</footer>
