---
import PaddingX from "@/components/util/padding-x.astro";
import SocialLinks from "@/components/social-links.astro";
---

<footer class="py-8 text-xs">
	<PaddingX>
		<div
			class="font-accent flex flex-col justify-between gap-4 text-center lg:flex-row lg:gap-6 lg:text-left"
		>
			<div class="flex justify-center">
				<SocialLinks />
			</div>
			<div>
				© {new Date().getFullYear()} Max Fung and Studio Makai LLC. All rights reserved
			</div>
			<div>Currently — looking for software engineering opportunities</div>
		</div>
	</PaddingX>
</footer>
