---
import Harmony from "./animation/harmony";
import Donate from "./donate.astro";
---

<div
	class="mx-auto -mt-12 flex min-h-[60vh] w-full flex-col items-center justify-center gap-6 md:gap-10"
>
	<div class="relative w-full">
		<div
			id="harmony"
			class="flex h-24 max-w-full items-center justify-center sm:h-40 md:h-50 lg:h-60 xl:h-80"
		>
			<Harmony client:load />
		</div>
	</div>
	<Donate />
</div>
