---
import PeaceCircle from "./ui/logos/peace-circle.astro";
import PeaceSquare from "./ui/logos/peace-square.astro";
import PeaceTriangle from "./ui/logos/peace-triangle.astro";
---

<div class="mx-auto mb-12">
	<div class="grid h-48 w-full grid-cols-3 gap-16 px-8 py-8">
		<PeaceCircle class="fill-foreground h-full w-full object-contain" />
		<PeaceSquare class="fill-foreground h-full w-full object-contain" />
		<PeaceTriangle class="fill-foreground h-full w-full object-contain" />
	</div>
</div>
