---
import Triangle from "./triangle.astro";
import Circle from "./circle.astro";
import Square from "./square.astro";
import ArrowUpRight from "lucide-static/icons/arrow-up-right.svg";
import Harmony from "./animation/harmony";
---

<div class="relative mb-28 min-h-[20vh]">
	<div
		class="pointer-events-none absolute inset-0 z-0 flex items-center justify-center overflow-visible"
	>
		<div id="harmony" class="flex h-full w-full items-center justify-center">
			<Harmony client:load />
		</div>
	</div>
	<div class="animate-fade-in space-y-2" style="--delay: 5.5s">
		<div class="border-b py-2">
			<div class="grid grid-cols-3">
				<div class="flex items-center">
					<Triangle class="w-1/2" strokeWidth={1.5} />
				</div>
				<div class="flex items-center">
					<Circle class="w-1/2" strokeWidth={1.5} />
				</div>
				<div class="flex items-center">
					<Square class="w-1/2" strokeWidth={1.5} />
				</div>
			</div>
		</div>
		<div class="grid gap-2 text-xs font-light md:grid-cols-3 xl:text-sm">
			<div class="max-w-3/4">
				Welcome. I'm a Musician, Software Developer, and Designer living in Los Angeles, California.
			</div>
			<div class="max-w-3/4">
				This is my archive of work, thoughts, and ideas. Shared here to inspire you.
			</div>
			<div class="flex max-w-3/4 flex-col">
				<a
					class="link-subtle inline-flex items-center gap-1"
					href="https://www.streetsforall.org/donate"
				>
					Streets for All
					<ArrowUpRight class="h-4 w-4" />
				</a>
				<a
					class="link-subtle inline-flex items-center gap-1"
					href="https://www.nature.org/en-us/membership-and-giving/donate-to-our-mission/"
				>
					Wildlife conservation
					<ArrowUpRight class="h-4 w-4" />
				</a>
				<a
					class="link-subtle inline-flex items-center gap-1"
					href="https://pcrf1.app.neoncrm.com/forms/udhiyah-campaign-2025"
				>
					Support Palestinian children
					<ArrowUpRight class="h-4 w-4" />
				</a>
			</div>
		</div>
	</div>
</div>

<style>
	@keyframes fade-in {
		from {
			opacity: 0;
			transform: translateY(1rem);
			filter: blur(8px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
			filter: blur(0);
		}
	}

	.animate-fade-in {
		animation: fade-in 0.8s ease-out forwards;
		animation-delay: var(--delay, 0s);
		opacity: 0;
	}
</style>
