---
import Base from "./animation/assets/base.astro";
---

<div class="mx-auto mb-12">
	<h1>Animated</h1>
	<Base />
	<!-- <MorphingShape class="stroke-foreground text-foreground fill-foreground" /> -->
</div>
