---
import Harmony from "./animation/harmony";
---

<div
	class="relative mx-auto mt-16 mb-32 flex w-full flex-col items-center justify-center gap-16 md:mt-32 md:mb-48"
>
	<div id="harmony" class="flex h-24 items-center justify-center md:h-64">
		<Harmony client:load />
	</div>
</div>
