<div class="prose">
	<p class="font-manifesto leading-normal">
		I believe in the power of love, music, and creativity to guide us, heal us, and connect us to a
		deeper source.
	</p>

	<p class="font-manifesto leading-normal">
		I believe in building beautiful, sustainable things — slowly, with care. In craftsmanship,
		passion, and mastery.
	</p>

	<p class="font-manifesto leading-normal">
		I believe in stewarding this planet. In shaping systems that protect and restore what's finite
		and precious. In leaving things better than we found them.
	</p>

	<p class="font-manifesto mt-8 leading-normal">
		Always follow your heart and your gut. Find something you love to do, and do it every single
		day. Be kind. Be humble. Be present. Know yourself.
	</p>

	<p class="font-manifesto mt-8 leading-normal">The world will be a better place for it.</p>
</div>
