---
import { MANIFESTO } from "@/content/manifesto";
import { cn } from "@/lib/utils";
---

<div class="prose">
	{
		MANIFESTO.map((statement: string, index: number) => (
			<p class={cn("font-manifesto text-left leading-normal", index >= 3 && "mt-8")}>{statement}</p>
		))
	}
</div>
