<div class="prose mb-12">
	<p class="font-manifesto leading-normal">
		I believe in the power of love, music, and creativity to guide us, heal us, and connect us to a
		deeper source.
	</p>

	<p class="font-manifesto leading-normal">
		I believe in building beautiful, sustainable things — slowly, with care. In craftsmanship,
		passion, and mastery.
	</p>

	<p class="font-manifesto leading-normal">
		I believe in stewarding this planet. In shaping systems that protect and restore what's finite
		and precious. In leaving things better than we found them.
	</p>

	<p class="font-manifesto mt-8 leading-normal">
		Be kind. Be humble. Be present. Know yourself. Look for the things you see which others cannot.
		Follow your heart and your gut.
	</p>

	<p class="font-manifesto mt-8 leading-normal">
		Find something you love to do, and do it every single day.
	</p>

	<p class="font-manifesto mt-8 leading-normal">The world will be a better place for it.</p>
</div>
