---
import PaddingX from "@/components/padding-x";
import Logo from "@/components/ui/logo.astro";
import NavMenu from "./nav-menu";
---

<nav class="border-b border-dashed">
  <PaddingX>
    <div class="flex items-center justify-between">
      <div
        class="flex flex-col items-start w-full sm:flex-row sm:items-center sm:gap-8 sm:justify-between"
      >
        <a href="/" class="text-5xl font-['boxy']">
          <Logo class="w-20 h-auto fill-primary stroke-primary py-4" />
        </a>
        <div class="flex gap-4">
          <NavMenu client:load currentPath={Astro.url.pathname} />
        </div>
      </div>
    </div>
  </PaddingX>
</nav>
