---
import ArrowLeft from "lucide-static/icons/arrow-left.svg";
import ArrowRight from "lucide-static/icons/arrow-right.svg";
import Button from "./ui/button.astro";

interface Props {
	prev?: {
		label: string;
		href: string;
	};
	next?: {
		label: string;
		href: string;
	};
}

const { prev, next } = Astro.props;
---

<nav class="flex h-full w-full flex-col justify-between gap-4 md:flex-row">
	{
		prev ? (
			<a href={prev.href}>
				<Button class="w-full md:w-auto" size="lg">
					<ArrowLeft class="h-6 w-6" />
					<span class="line-clamp-1 text-sm md:text-base">{prev.label}</span>
				</Button>
			</a>
		) : (
			<div class="hidden h-full flex-1 md:block" />
		)
	}

	{
		next ? (
			<a href={next.href}>
				<Button class="w-full md:w-auto" size="lg">
					<span class="line-clamp-1 text-sm md:text-base">{next.label}</span>
					<ArrowRight class="h-6 w-6" />
				</Button>
			</a>
		) : (
			<div class="hidden h-full flex-1 md:block" />
		)
	}
</nav>
