---
import ArrowLeft from "lucide-static/icons/arrow-left.svg";
import ArrowRight from "lucide-static/icons/arrow-right.svg";
import { cn } from "@/lib/utils";

interface Props {
	prev?: {
		label: string;
		href: string;
	};
	next?: {
		label: string;
		href: string;
	};
}

const { prev, next } = Astro.props;
---

<nav class="flex h-full w-full flex-col gap-2 md:flex-row">
	{
		prev ? (
			<a
				href={prev.href}
				class={cn(
					"hover:bg-accent/50 hover:text-accent-foreground flex h-full flex-1 items-center gap-2 rounded-md border px-6 py-4 font-medium transition-colors duration-200 md:border-none",
				)}
			>
				<ArrowLeft class="h-6 w-6" />
				<span class="line-clamp-1 text-sm md:text-base">{prev.label}</span>
			</a>
		) : (
			<div class="hidden h-full flex-1 md:block" />
		)
	}

	{
		next ? (
			<a
				href={next.href}
				class={cn(
					"hover:bg-accent/50 hover:text-accent-foreground flex h-full flex-1 items-center justify-end gap-2 rounded-md border px-6 py-4 font-medium transition-colors duration-200 md:border-none",
				)}
			>
				<span class="line-clamp-1 text-sm md:text-base">{next.label}</span>
				<ArrowRight class="h-6 w-6" />
			</a>
		) : (
			<div class="hidden h-full flex-1 md:block" />
		)
	}
</nav>
