---
import ArrowLeft from "lucide-static/icons/arrow-left.svg";
import ArrowRight from "lucide-static/icons/arrow-right.svg";
import { cn } from "@/lib/utils";

interface Props {
  left?: {
    label: string;
    href: string;
  };
  right?: {
    label: string;
    href: string;
  };
}

const { left, right } = Astro.props;
---

<nav class="w-full h-full flex flex-col md:flex-row gap-2">
  {
    left ? (
      <a
        href={left.href}
        class={cn(
          "flex items-center gap-2 rounded-md px-6 py-4 hover:bg-accent/50 hover:text-accent-foreground font-medium flex-1 h-full transition-colors duration-200"
        )}
      >
        <ArrowLeft class="w-6 h-6" />
        <span>{left.label}</span>
      </a>
    ) : (
      <div class="flex-1 h-full" />
    )
  }

  {
    right ? (
      <a
        href={right.href}
        class={cn(
          "flex items-center gap-2 rounded-md px-6 py-4 hover:bg-accent/50 hover:text-accent-foreground font-medium flex-1 justify-end h-full transition-colors duration-200"
        )}
      >
        <span>{right.label}</span>
        <ArrowRight class="w-6 h-6" />
      </a>
    ) : (
      <div class="flex-1 h-full" />
    )
  }
</nav>
