---
import type { CollectionEntry } from "astro:content";
import ProjectCard from "./project-card.astro";

interface Props {
  projects: CollectionEntry<"projects">[];
}

const { projects } = Astro.props;

const sortedProjects = projects?.length
  ? [...projects].sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  : [];
---

{
  !projects?.length ? (
    <div>No projects found</div>
  ) : (
    <div class="grid grid-cols-1 sm:grid-cols-2 2xl:grid-cols-3 gap-x-6 gap-y-12">
      {sortedProjects.map((project) => (
        <ProjectCard project={project} />
      ))}
    </div>
  )
}
