---
import { cn } from "@/lib/utils";
import SOCIAL_LINKS from "@/content/social-links";

interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<div class={cn("grid h-full grid-cols-4 flex-1 items-center", className)}>
	{
		SOCIAL_LINKS.map((link, index) => (
			<a
				href={link.href}
				target={link.href.startsWith("http") ? "_blank" : undefined}
				rel={link.href.startsWith("http") ? "noopener noreferrer" : undefined}
				class={cn("hover:bg-accent/10 h-full w-full", index !== 0 && "border-l")}
			>
				<div class="link-subtle flex h-full items-center justify-center">
					<span class="block md:hidden">{link.short}</span>
					<span class="hidden md:block">{link.label}</span>
				</div>
			</a>
		))
	}
</div>
