---
import WorkCard from "@/components/works/work-card.astro";
import { getWorks } from "@/lib/get-collection";
import { getSimilarEntries } from "@/lib/get-similar-entries";

interface Props {
	currentSlug: string;
}

const { currentSlug } = Astro.props;

const allWorks = await getWorks();
const similarWorks = getSimilarEntries<"works">(allWorks, currentSlug);
---

<section class="mt-16">
	<h2 class="mb-8 text-2xl">More Works</h2>
	<div class="grid gap-12 md:grid-cols-3 md:px-8">
		{similarWorks.map((work) => <WorkCard work={work} />)}
	</div>
</section>
