---
import WorkCard from "@/components/works/work-card.astro";
import { getWorks } from "@/lib/get-collection";
import { getSimilarEntries } from "@/lib/get-similar-entries";

interface Props {
  currentSlug: string;
}

const { currentSlug } = Astro.props;

const allWorks = await getWorks();
const similarWorks = getSimilarEntries<"works">(allWorks, currentSlug);
---

<section class="mt-16">
  <h2 class="text-2xl mb-8">More Works</h2>
  <div class="grid md:grid-cols-3 gap-12 md:px-8">
    {similarWorks.map((work) => <WorkCard work={work} />)}
  </div>
</section>
