---
import "@/styles/global.css";
import Navbar from "@/components/nav/navbar.astro";
import PaddingX from "@/components/util/padding-x.astro";
import Footer from "@/components/footer.astro";
import SEO from "@/components/seo.astro";

interface Props {
	title?: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<script is:inline src="/theme.js"></script>
	<SEO title={title} description={description} url={Astro.url?.href} />
	<meta name="generator" content={Astro.generator} />
	<body class="flex min-h-dvh flex-col font-sans">
		<Navbar />
		<main class="mt-24 flex flex-1 flex-col md:mt-32">
			<PaddingX class="flex flex-1 flex-col">
				<slot />
			</PaddingX>
		</main>
		<Footer />
	</body>
</html>
