---
import Layout from "@/layouts/layout.astro";
import { getCollection } from "astro:content";
import WritingList from "@/components/writing/writing-list.astro";

const writings = await getCollection("writing");
---

<Layout title="Writing">
  <main>
    <WritingList writings={writings} />
  </main>
</Layout>
