---
import ArrowLeft from "lucide-static/icons/arrow-left.svg";
import ArrowRight from "lucide-static/icons/arrow-right.svg";

interface Props {
  left?: {
    label: string;
    href: string;
  };
  right?: {
    label: string;
    href: string;
  };
}

const { left, right } = Astro.props;
---

<nav
  class="w-full flex justify-between items-center pb-8 text-sm text-muted-foreground"
>
  {
    left ? (
      <a
        href={left.href}
        class="inline-flex items-center gap-2 font-medium hover:underline"
      >
        <ArrowLeft class="w-4 h-4" />
        <span>{left.label}</span>
      </a>
    ) : (
      <div />
    )
  }

  {
    right && (
      <a
        href={right.href}
        class="inline-flex items-center gap-2 font-medium hover:underline"
      >
        <span>{right.label}</span>
        <ArrowRight class="w-4 h-4" />
      </a>
    )
  }
</nav>
