---
import PaddingX from "@/components/util/padding-x";
---

<footer class="border-t py-8 bg-secondary text-secondary-foreground text-xs">
  <PaddingX>
    <div class="flex flex-col lg:flex-row justify-between font-['doto'] gap-2">
      <div>
        © {new Date().getFullYear()} Max Fung and Studio Makai LLC. All rights reserved
      </div>
      <div>Currently — looking for software engineering opportunities</div>
    </div>
  </PaddingX>
</footer>
