---
import { cn, normalizePath } from "@/lib/utils";
import NavMenuItem from "./nav-menu-item.astro";

const currentPath = Astro.url.pathname;

const routeBuckets = {
	works: ["/works"],
	writing: ["/writing"],
	about: ["/about"],
};

const isRouteActive = (bucket: keyof typeof routeBuckets): boolean => {
	return routeBuckets[bucket].some((prefix) =>
		normalizePath(currentPath).startsWith(normalizePath(prefix)),
	);
};
---

<nav
	class="hidden h-full items-center justify-between gap-2 rounded-full py-2 md:flex md:gap-8 md:border md:pr-14 md:pl-4"
>
	<NavMenuItem href={normalizePath("/works")} class={cn(isRouteActive("works") && "active")}>
		Works
	</NavMenuItem>
	<NavMenuItem href={normalizePath("/writing")} class={cn(isRouteActive("writing") && "active")}>
		Writing
	</NavMenuItem>
	<NavMenuItem href={normalizePath("/about")} class={cn(isRouteActive("about") && "active")}>
		About
	</NavMenuItem>
</nav>
