---
import { cn } from "@/lib/utils";

interface Props {
  href: string;
  label: string;
  isActive?: boolean;
}

const { href, label, isActive = false } = Astro.props;
---

<li class="w-full">
  <a
    href={href}
    class={cn(
      "flex items-center justify-between rounded-md px-3 py-2 hover:bg-accent/50 hover:text-accent-foreground w-full",
      isActive && "text-primary hover:text-primary bg-accent hover:bg-accent"
    )}
  >
    {label}
  </a>
</li>
