---
import { cn } from "@/lib/utils";

interface Props {
	href: string;
	class?: string;
}

const { href, class: className } = Astro.props;
const isActive = className?.includes("active");
---

<a
	href={href}
	class={cn(
		"flex items-center px-2 py-1 text-sm link-subtle-foreground",
		isActive && "underline",
		className,
	)}
>
	<slot />
</a>
