---
import { cn } from "@/lib/utils";
import { cva } from "class-variance-authority";

const navMenuItemVariants = cva(
	"link-subtle relative before:absolute before:left-2 before:top-1/2 before:h-0.5 before:-translate-y-1/2 before:bg-foreground/80 before:opacity-0 before:transition-all before:duration-300 before:ease-out hover:before:opacity-100 before:origin-left before:scale-x-0 hover:before:scale-x-100",
	{
		variants: {
			size: {
				default: "pl-10 before:w-4 md:before:w-6",
				lg: "text-4xl pl-16 before:w-12 before:h-1",
			},
		},
		defaultVariants: {
			size: "default",
		},
	},
);

interface Props {
	href: string;
	class?: string;
	size?: "default" | "lg";
}

const { href, class: className, size } = Astro.props;
const isActive = className?.includes("active");
---

<a
	href={href}
	class={cn(
		navMenuItemVariants({ size }),
		isActive &&
			"text-foreground hover:text-foreground before:bg-foreground before:opacity-100 before:scale-x-100",
		className,
	)}
>
	<slot />
</a>
