---
import PaddingX from "@/components/util/padding-x.astro";
import Logo from "@/components/ui/logo.astro";
import NavMenu from "./nav-menu.astro";
---

<nav>
	<PaddingX>
		<div class="flex items-center justify-between">
			<div
				class="flex w-full flex-col items-start pb-2 sm:flex-row sm:items-center sm:justify-between sm:gap-8 sm:pb-0"
			>
				<a href="/" class="w-[20vw]">
					<Logo class="fill-primary stroke-primary h-auto w-20 py-4" />
				</a>
				<NavMenu currentPath={Astro.url.pathname} />
			</div>
		</div>
	</PaddingX>
</nav>
