---
import { cn } from "@/lib/utils";
import ArrowLeft from "lucide-static/icons/arrow-left.svg";
import ArrowRight from "lucide-static/icons/arrow-right.svg";

interface Props {
	size?: "default" | "lg";
	direction?: "left" | "right";
	class?: string;
}

const { size = "default", direction = "right", class: className } = Astro.props;

const sizeClasses = {
	default: {
		button: "h-12 w-24",
		icon: "h-8 w-8",
	},
	lg: {
		button: "h-18 w-32",
		icon: "h-12 w-12",
	},
};

const Icon = direction === "left" ? ArrowLeft : ArrowRight;
const translateClass =
	direction === "left" ? "md:group-hover:-translate-x-[200%]" : "md:group-hover:translate-x-[200%]";
const initialTranslateClass = direction === "left" ? "translate-x-[200%]" : "-translate-x-[200%]";
---

<div
	class={cn(
		"bg-accent text-background md:group-hover:bg-primary flex items-center justify-center overflow-hidden rounded-full transition-colors duration-300 ease-in-out",
		sizeClasses[size].button,
		className,
	)}
>
	<div class="relative flex w-full items-center justify-center">
		<Icon
			class={cn("transition-all duration-300 ease-in-out", translateClass, sizeClasses[size].icon)}
		/>
		<Icon
			class={cn(
				"absolute transition-all duration-300 ease-in-out md:group-hover:translate-x-0",
				initialTranslateClass,
				sizeClasses[size].icon,
			)}
		/>
	</div>
</div>
