---
import { cn } from "@/lib/utils";

interface Props {
	href: string;
	isActive?: boolean;
}

const { href, isActive } = Astro.props;
---

<a
	href={href}
	class={cn("md:text-lg link-subtle", isActive && "text-foreground hover:text-foreground")}
>
	<slot />
</a>
