---
import type { Category } from "@/config/categories";
import { capitalize, cn, getCategoryPath } from "@/lib/utils";

interface Props {
	categories: Category[];
	basePath: string;
	class?: string;
	asLinks?: boolean;
	commas?: boolean;
}

const { categories, basePath, class: className = "", asLinks = true, commas = false } = Astro.props;
---

<div class={cn("flex flex-wrap", className)}>
	{
		categories.map((category, index) => (
			<span class="flex items-center break-words">
				{asLinks ? (
					<a
						href={getCategoryPath(category, basePath)}
						class={cn("link-subtle", !commas && "mr-2")}
					>
						{capitalize(category.trim())}
					</a>
				) : (
					<span>{capitalize(category.trim())}</span>
				)}
				{commas && index < categories.length - 1 && <span class="mr-3 ml-[1px]">, </span>}
			</span>
		))
	}
</div>
