---
import { CATEGORY_MAP, type CategoryCollectionType } from "@/content/categories";
import { capitalize, getCategoryPath, normalizePath } from "@/lib/utils";
import LinksGrid from "./links-grid.astro";

interface Props {
	type: CategoryCollectionType;
}

const { type } = Astro.props;
const currentPath = Astro.url.pathname;
const allPath = normalizePath(type === "works" ? "/works" : `/${type}`);
const allIsActive = normalizePath(currentPath) === allPath;

const categories = Object.values(CATEGORY_MAP[type]);

const isActive = (category: string) => {
	return normalizePath(currentPath).includes(category.toLowerCase());
};

const links = [
	{
		href: allPath,
		label: "All",
		short: "All",
		active: allIsActive,
	},
	...categories.map((category) => ({
		href: getCategoryPath(category, `/${type}`),
		label: capitalize(category),
		active: isActive(category),
	})),
];
---

<div class="relative -mx-4 overflow-x-hidden px-4">
	<!-- Gradient edges -->
	<div
		class="from-background pointer-events-none absolute inset-y-0 left-0 z-10 w-8 bg-gradient-to-r to-transparent md:w-10"
	>
	</div>
	<div
		class="from-background pointer-events-none absolute inset-y-0 right-0 z-10 w-8 bg-gradient-to-l to-transparent md:w-10"
	>
	</div>

	<!-- Scroll container -->
	<div
		class="scrollbar-none hide-scrollbar -mx-4 touch-auto overflow-x-auto overscroll-contain px-4"
	>
		<div class="h-12">
			<LinksGrid links={links} class="min-w-max" />
		</div>
	</div>
</div>
