---
import ArrowUpRight from "lucide-static/icons/arrow-up-right.svg";
import DropdownMenuItem from "./dropdown-menu-item.astro";

interface ContactLink {
	label: string;
	href: string;
	description: string;
}

const CONTACT_LINKS: ContactLink[] = [
	{
		label: "Email",
		href: "mailto:max@studiomakai.net",
		description: "max@studiomakai.net",
	},
	{
		label: "LinkedIn",
		href: "https://www.linkedin.com/in/maxfung/",
		description: "in/maxfung",
	},
	{
		label: "Instagram",
		href: "https://www.instagram.com/fungkadelic/",
		description: "@fungkadelic",
	},
	{
		label: "GitHub",
		href: "https://www.github.com/mxfng",
		description: "mxfng",
	},
] as const;
---

<>
	{
		CONTACT_LINKS.map((link) => (
			<DropdownMenuItem href={link.href}>
				<div class="flex items-center gap-1 font-medium">
					{link.label}
					{link.href.startsWith("http") && <ArrowUpRight class="h-4 w-4" />}
				</div>
				<p class="text-muted-foreground text-sm">{link.description}</p>
			</DropdownMenuItem>
		))
	}
</>
