---
import { cn } from "@/lib/utils";
import ActionButtonArrow from "./action-button-arrow.astro";

interface Props {
	primaryText: string;
	secondaryText: string;
	href?: string;
	size?: "default" | "lg";
	class?: string;
}

const { primaryText, secondaryText, href, size = "default", class: className } = Astro.props;

const sizeClasses = {
	default: {
		container: "py-6",
		text: "text-2xl",
	},
	lg: {
		container: "py-12",
		text: "text-ultra",
	},
};
---

<div
	class={cn(
		"group flex cursor-pointer flex-row items-center justify-between",
		sizeClasses[size].container,
		className,
	)}
	{...href && { "data-href": href, onclick: "window.location.href = this.dataset.href" }}
>
	<div class="relative w-full overflow-hidden py-4">
		<h1
			class={cn(
				"transition-all duration-300 ease-in-out md:group-hover:-translate-y-[200%]",
				sizeClasses[size].text,
			)}
		>
			{primaryText}
		</h1>
		<h1
			class={cn(
				"absolute top-4 translate-y-[200%] transition-all duration-300 ease-in-out md:group-hover:translate-y-0",
				sizeClasses[size].text,
			)}
		>
			{secondaryText}
		</h1>
	</div>
	<ActionButtonArrow size={size} />
</div>
