---
import { cn } from "@/lib/utils";

interface Props {
	menuId: string;
}

const { menuId } = Astro.props;
---

<button
	type="button"
	class={cn("dropdown-trigger")}
	aria-expanded="false"
	aria-controls={menuId}
	data-dropdown-trigger
>
	<slot />
</button>
