---
import ArrowUpRight from "lucide-static/icons/arrow-up-right.svg";
import DropdownMenuItem from "./dropdown-menu-item.astro";
import SOCIAL_LINKS from "@/content/social-links";
---

<>
	{
		SOCIAL_LINKS.map((link) => (
			<DropdownMenuItem href={link.href}>
				<div class="flex items-center gap-1 font-medium">
					{link.label}
					{link.href.startsWith("http") && <ArrowUpRight class="h-4 w-4" />}
				</div>
				<p class="text-muted-foreground text-sm">{link.description}</p>
			</DropdownMenuItem>
		))
	}
</>
