---
import { cn } from "@/lib/utils";

interface Props {
	menuId: string;
	align?: "left" | "right" | "center";
	class?: string;
}

const { menuId, align = "left", class: className } = Astro.props;

const ALIGN_CLASSES = {
	left: "left-0",
	right: "right-0",
	center: "left-1/2 -translate-x-1/2",
};
---

<div data-dropdown class={cn("group relative", className)}>
	<slot name="trigger" />
	<div
		id={menuId}
		class={cn(
			"absolute top-full mt-4 z-50 opacity-0 invisible min-w-full w-[15rem] rounded-lg border bg-background p-2 shadow-lg transition-all duration-200 transform origin-top scale-95",
			ALIGN_CLASSES[align],
			"group-hover:opacity-100 group-hover:visible group-hover:scale-100 group-hover:backdrop-blur-md group-hover:shadow-lg",
			className,
		)}
		data-dropdown-menu
	>
		<slot />
	</div>
</div>
