---
interface Props {
	hasItems: boolean;
	emptyMessage?: string;
}

const { hasItems, emptyMessage = "" } = Astro.props;
---

{
	!hasItems ? (
		<div class="text-muted-foreground text-center">{emptyMessage}</div>
	) : (
		<div class="xs:grid-cols-2 grid gap-6 space-y-4 md:space-y-6 lg:grid-cols-3">
			<slot />
		</div>
	)
}
