---
import { cn } from "@/lib/utils";

interface Props {
	hasItems: boolean;
	emptyMessage?: string;
	maxColumns?: number;
}

const { hasItems, emptyMessage = "", maxColumns = 3 } = Astro.props;
---

{
	!hasItems ? (
		<div class="text-muted-foreground text-center">{emptyMessage}</div>
	) : (
		<div
			class={cn("grid gap-x-4 gap-y-12", [
				maxColumns >= 2 && "md:grid-cols-2",
				maxColumns >= 3 && "lg:grid-cols-3",
				maxColumns >= 4 && "xl:grid-cols-4",
			])}
		>
			<div class="contents">
				<slot />
			</div>
		</div>
	)
}
