---
import { cn } from "@/lib/utils";

interface Props {
	links: {
		href: string;
		label: string;
		short?: string;
		active?: boolean;
	}[];
	class?: string;
}

const { links, class: className } = Astro.props;
---

<div class={cn(`grid h-full grid-cols-4 flex-1 items-center`, className)}>
	{
		links.map((link, index) => (
			<a
				href={link.href}
				target={link.href.startsWith("http") ? "_blank" : undefined}
				rel={link.href.startsWith("http") ? "noopener noreferrer" : undefined}
				class={cn(
					"hover:bg-accent/20 h-full w-full",
					index !== 0 && "border-l",
					link.active &&
						"bg-secondary hover:bg-secondary text-secondary-foreground hover:text-secondary-foreground",
				)}
			>
				<div class="link-subtle flex h-full items-center justify-center text-xs md:text-sm">
					{link.short && <span class="block md:hidden">{link.short}</span>}
					<span class={cn(link.short && "hidden md:block")}>{link.label}</span>
				</div>
			</a>
		))
	}
</div>
