---
interface Props {
	class?: string;
	title?: string;
}

const { class: className = "", title } = Astro.props;
---

<svg
	xmlns="http://www.w3.org/2000/svg"
	viewBox="0 0 539.93 262.07"
	fill="currentColor"
	role="img"
	class={className}
>
	{title && <title>{title}</title>}
	<path
		d="M0 213.79c0-4.59 2.3-6.9 6.9-6.9s6.9-2.3 6.9-6.9-2.31-6.9-6.9-6.9-6.9-2.3-6.9-6.9V6.9C0 2.31 2.3 0 6.9 0h41.38c4.59 0 6.9 2.31 6.9 6.9s2.3 6.9 6.9 6.9 6.9-2.3 6.9-6.9S71.27 0 75.88 0h41.38c4.59 0 6.9 2.31 6.9 6.9v41.38c0 4.6-2.31 6.9-6.9 6.9s-6.9 2.31-6.9 6.9 2.3 6.9 6.9 6.9 6.9 2.31 6.9 6.9v110.34c0 4.6-2.31 6.9-6.9 6.9s-6.9 2.3-6.9 6.9 2.3 6.9 6.9 6.9h27.59c4.59 0 6.9-2.3 6.9-6.9s-2.31-6.9-6.9-6.9-6.9-2.3-6.9-6.9V75.88c0-4.59 2.3-6.9 6.9-6.9s6.9-2.3 6.9-6.9-2.31-6.9-6.9-6.9-6.9-2.3-6.9-6.9V6.9c0-4.59 2.3-6.9 6.9-6.9h110.34c4.59 0 6.9 2.31 6.9 6.9v41.38c0 4.6-2.31 6.9-6.9 6.9s-6.9 2.31-6.9 6.9 2.3 6.9 6.9 6.9 6.9 2.31 6.9 6.9v179.31c0 4.6-2.31 6.9-6.9 6.9h-41.38c-4.6 0-6.9-2.29-6.9-6.9V75.86c0-4.59 2.3-6.9 6.9-6.9s6.9-2.3 6.9-6.9-2.31-6.9-6.9-6.9h-27.59c-4.6 0-6.9 2.31-6.9 6.9s2.29 6.9 6.9 6.9 6.9 2.31 6.9 6.9V186.2c0 4.6-2.31 6.9-6.9 6.9s-6.9 2.3-6.9 6.9 2.29 6.9 6.9 6.9 6.9 2.31 6.9 6.9v41.38c0 4.6-2.31 6.9-6.9 6.9H75.88c-4.6 0-6.9-2.29-6.9-6.9V213.8c0-4.59 2.29-6.9 6.9-6.9s6.9-2.3 6.9-6.9-2.31-6.9-6.9-6.9-6.9-2.3-6.9-6.9V75.86c0-4.59 2.29-6.9 6.9-6.9s6.9-2.3 6.9-6.9-2.31-6.9-6.9-6.9-6.9-2.3-6.9-6.9-2.31-6.9-6.9-6.9-6.9 2.31-6.9 6.9v137.93c0 4.6-2.31 6.9-6.9 6.9s-6.9 2.3-6.9 6.9 2.3 6.9 6.9 6.9 6.9 2.31 6.9 6.9v41.38c0 4.6-2.31 6.9-6.9 6.9H6.9c-4.6 0-6.9-2.29-6.9-6.9v-41.38zm27.59-6.89c4.59 0 6.9-2.3 6.9-6.9s-2.31-6.9-6.9-6.9-6.9 2.3-6.9 6.9 2.29 6.9 6.9 6.9zM62.07 34.48c4.59 0 6.9-2.29 6.9-6.9s-2.31-6.9-6.9-6.9-6.9 2.31-6.9 6.9 2.3 6.9 6.9 6.9zm34.48 34.49c4.59 0 6.9-2.3 6.9-6.9s-2.31-6.9-6.9-6.9-6.9 2.31-6.9 6.9 2.3 6.9 6.9 6.9zm0 137.93c4.59 0 6.9-2.3 6.9-6.9s-2.31-6.9-6.9-6.9-6.9 2.3-6.9 6.9 2.3 6.9 6.9 6.9zm68.97-137.93c4.59 0 6.9-2.3 6.9-6.9s-2.31-6.9-6.9-6.9-6.9 2.31-6.9 6.9 2.3 6.9 6.9 6.9zm0 137.93c4.59 0 6.9-2.3 6.9-6.9s-2.31-6.9-6.9-6.9-6.9 2.3-6.9 6.9 2.3 6.9 6.9 6.9zm68.96-137.93c4.59 0 6.9-2.3 6.9-6.9s-2.31-6.9-6.9-6.9-6.9 2.31-6.9 6.9 2.29 6.9 6.9 6.9zm43.38 144.82c0-4.59 2.3-6.9 6.9-6.9s6.9-2.3 6.9-6.9-2.31-6.9-6.9-6.9-6.9-2.3-6.9-6.9V6.9c0-4.59 2.3-6.9 6.9-6.9h41.38c4.59 0 6.9 2.31 6.9 6.9s2.3 6.9 6.9 6.9 6.9-2.3 6.9-6.9 2.29-6.9 6.9-6.9h179.31c4.59 0 6.9 2.31 6.9 6.9v41.38c0 4.6-2.31 6.9-6.9 6.9H395.12c-4.6 0-6.9 2.31-6.9 6.9s2.3 6.9 6.9 6.9 6.9 2.31 6.9 6.9 2.29 6.9 6.9 6.9 6.9-2.29 6.9-6.9 2.3-6.9 6.9-6.9h110.35c4.59 0 6.9 2.31 6.9 6.9v41.38c0 4.6-2.31 6.9-6.9 6.9H422.72c-4.6 0-6.9-2.29-6.9-6.9s-2.31-6.9-6.9-6.9-6.9 2.31-6.9 6.9v68.97c0 4.6-2.31 6.9-6.9 6.9s-6.9 2.3-6.9 6.9 2.3 6.9 6.9 6.9 6.9 2.31 6.9 6.9v41.38c0 4.6-2.31 6.9-6.9 6.9H284.78c-4.6 0-6.9-2.29-6.9-6.9v-41.38zm27.59-6.89c4.59 0 6.9-2.3 6.9-6.9s-2.31-6.9-6.9-6.9-6.9 2.3-6.9 6.9 2.29 6.9 6.9 6.9zm20.69 0h27.59c4.59 0 6.9-2.3 6.9-6.9s-2.31-6.9-6.9-6.9-6.9-2.3-6.9-6.9V75.86c0-4.59 2.29-6.9 6.9-6.9s6.9-2.3 6.9-6.9-2.31-6.9-6.9-6.9-6.9-2.3-6.9-6.9-2.31-6.9-6.9-6.9-6.9 2.31-6.9 6.9v137.93c0 4.6-2.31 6.9-6.9 6.9s-6.9 2.3-6.9 6.9 2.3 6.9 6.9 6.9zm13.79-172.42c4.59 0 6.9-2.29 6.9-6.9s-2.31-6.9-6.9-6.9-6.9 2.31-6.9 6.9 2.3 6.9 6.9 6.9zm34.48 34.49c4.59 0 6.9-2.3 6.9-6.9s-2.31-6.9-6.9-6.9-6.9 2.31-6.9 6.9 2.3 6.9 6.9 6.9zm0 137.93c4.59 0 6.9-2.3 6.9-6.9s-2.31-6.9-6.9-6.9-6.9 2.3-6.9 6.9 2.3 6.9 6.9 6.9zm34.49-103.45c4.59 0 6.9-2.3 6.9-6.9s-2.31-6.9-6.9-6.9-6.9 2.31-6.9 6.9 2.29 6.9 6.9 6.9z"
	></path>
</svg>
