---
import ActionButtonArrow from "./action-button-arrow.astro";

interface Props {
	prev?: {
		label: string;
		href: string;
	};
	next?: {
		label: string;
		href: string;
	};
}

const { prev, next } = Astro.props;
---

<nav class="grid w-full grid-cols-1 gap-4 md:grid-cols-2">
	{
		prev ? (
			<a
				href={prev.href}
				class="group hover:bg-muted/50 flex items-center gap-4 rounded-lg border p-4 transition-colors md:border-none"
			>
				<ActionButtonArrow direction="left" />
				<div class="flex flex-col">
					<span class="text-muted-foreground text-sm">Previous</span>
					<span class="line-clamp-1 text-base font-medium">{prev.label}</span>
				</div>
			</a>
		) : (
			<div class="hidden md:block" />
		)
	}

	{
		next ? (
			<a
				href={next.href}
				class="group hover:bg-muted/50 flex items-center justify-end gap-4 rounded-lg border p-4 transition-colors md:col-start-2 md:border-none"
			>
				<div class="flex flex-col items-end">
					<span class="text-muted-foreground text-sm">Next</span>
					<span class="line-clamp-1 text-base font-medium">{next.label}</span>
				</div>
				<ActionButtonArrow />
			</a>
		) : (
			<div class="hidden md:block" />
		)
	}
</nav>
