---
interface Props {
	class?: string;
}

const { class: className = "" } = Astro.props;
---

<footer class:list={["bg-muted text-muted-foreground h-full rounded-lg border p-6", className]}>
	<div class="mx-auto h-full max-w-screen-2xl">
		<slot />
	</div>
</footer>
